.CharacterFilter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: sticky;
  top: 0;
  padding: 13px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;

  &__inputs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
  }

  &__selects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    label {
      font-size: 10px;
      color: #777;
    }

    input {
      height: 18px;
    }

    select {
      height: 24px;
    }
  }

  .ResetButton {
    height: 24px;
    align-self: end;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    transition: 0.2s;

    &:hover {
      background-color: #66d9ef;
    }
  }
}
